In [1]:
from ilsmc.get_joint_prob_mat import get_joint_prob_mat
import pandas as pd

arr = get_joint_prob_mat(
    t_A = 0.1,    t_B = 0.1,    t_AB = 1,    t_C = 2, 
    rho_A = 2,    rho_B = 1,    rho_AB = 3,  rho_C = 1,  rho_ABC = 1, 
    coal_A = 1,   coal_B = 0.5, coal_AB = 1, coal_C = 1, coal_ABC = 1,
    n_int_AB = 3, n_int_ABC = 7
)

pd.DataFrame(arr, columns=['From', 'To', 'Prob'])

            From         To      Prob
0      (0, 0, 0)  (0, 0, 0)  0.004491
1      (0, 0, 0)  (0, 0, 1)  0.001976
2      (0, 0, 1)  (0, 0, 0)  0.001976
3      (0, 0, 0)  (0, 0, 2)  0.001976
4      (0, 0, 2)  (0, 0, 0)  0.001976
...          ...        ...       ...
11020  (2, 6, 6)  (2, 6, 6)  0.000002
11021  (2, 6, 6)  (3, 6, 6)  0.000002
11022  (3, 6, 6)  (1, 6, 6)  0.000002
11023  (3, 6, 6)  (2, 6, 6)  0.000002
11024  (3, 6, 6)  (3, 6, 6)  0.000002

[11025 rows x 3 columns]

In [2]:
pd.DataFrame(arr, columns=['From', 'To', 'Prob'])['Prob'].sum()

0.999999999999987