In [1]:
from ilsmc.get_joint_prob_mat import get_joint_prob_mat
import pandas as pd

In [2]:
%%time

array_np = get_joint_prob_mat(0.1, 0.1, 1, 2, 
                  2,   1,   3, 1, 1, 
                  1,   0.5, 1, 1, 1, 
                  1,   1)
print(array_np[:,2].sum())
pd.DataFrame(array_np).pivot(index = 0, columns = 1, values = 2).reset_index()

0.9999999999999998
CPU times: user 2.88 s, sys: 259 ms, total: 3.14 s
Wall time: 776 ms

1          0 (0, 0, 0) (1, 0, 0) (2, 0, 0) (3, 0, 0)
0  (0, 0, 0)  0.432237  0.066628  0.066628  0.066628
1  (1, 0, 0)  0.066628  0.022464  0.016769  0.016766
2  (2, 0, 0)  0.066628  0.016769   0.02048   0.01875
3  (3, 0, 0)  0.066628  0.016766   0.01875  0.020483

In [4]:
%%time

array_np = get_joint_prob_mat(0.1, 0.1, 1, 2, 
                  2,   1,   3, 1, 1, 
                  1,   0.5, 1, 1, 1, 
                  5,   5)
print(array_np[:,2].sum())
pd.DataFrame(array_np).pivot(index = 0, columns = 1, values = 2).reset_index()

0.999999999999992
CPU times: user 6min 33s, sys: 55.1 s, total: 7min 28s
Wall time: 5min 48s

1,0,"(0, 0, 0)","(0, 0, 1)","(0, 0, 2)","(0, 0, 3)","(0, 0, 4)","(0, 1, 0)","(0, 1, 1)","(0, 1, 2)","(0, 1, 3)",...,"(6, 0, 1)","(6, 0, 2)","(6, 0, 3)","(6, 0, 4)","(6, 1, 2)","(6, 1, 3)","(6, 1, 4)","(6, 2, 3)","(6, 2, 4)","(6, 3, 4)"
0,"(0, 0, 0)",0.004863,0.002499,0.002499,0.002499,0.002499,0.000493,0.000254,0.000254,0.000254,...,0.000135,0.000135,0.000135,0.000135,0.000091,0.000091,0.000091,0.000065,0.000065,0.000039
1,"(0, 0, 1)",0.002499,0.005171,0.002396,0.002396,0.002396,0.000254,0.000525,0.000243,0.000243,...,0.000301,0.000118,0.000118,0.000118,0.000117,0.000117,0.000117,0.000058,0.000058,0.000035
2,"(0, 0, 2)",0.002499,0.002396,0.005126,0.002418,0.002418,0.000254,0.000243,0.00052,0.000246,...,0.000118,0.000286,0.000126,0.000126,0.000224,0.000091,0.000091,0.000092,0.000092,0.000035
3,"(0, 0, 3)",0.002499,0.002396,0.002418,0.004824,0.002721,0.000254,0.000243,0.000246,0.00049,...,0.000118,0.000126,0.000265,0.000147,0.000091,0.000204,0.000111,0.000147,0.000077,0.000064
4,"(0, 0, 4)",0.002499,0.002396,0.002418,0.002721,0.004824,0.000254,0.000243,0.000246,0.000276,...,0.000118,0.000126,0.000147,0.000265,0.000091,0.000111,0.000204,0.000077,0.000147,0.000091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,"(6, 1, 3)",0.000091,0.000117,0.000091,0.000204,0.000111,0.000148,0.000192,0.00015,0.000335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,"(6, 1, 4)",0.000091,0.000117,0.000091,0.000111,0.000204,0.000148,0.000192,0.00015,0.000183,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,"(6, 2, 3)",0.000065,0.000058,0.000092,0.000147,0.000077,0.000106,0.000095,0.000151,0.000241,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,"(6, 2, 4)",0.000065,0.000058,0.000092,0.000077,0.000147,0.000106,0.000095,0.000151,0.000127,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,"(6, 3, 4)",0.000039,0.000035,0.000035,0.000064,0.000091,0.000064,0.000057,0.000058,0.000104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN